<footer>
    <div class="typewriter-container">
        <h4>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Thanks for visiting my website.", "Lets stay in contact!"]'>
                <span class="wrap"></span>
            </a>
        </h4>
    </div>



    <div class="socialMediaContainer">

        <a class="touch-area" href="https://www.linkedin.com/in/tim-kuntze-0505ab8b" target="_blank">
            <img class="socialMedia" src="assets/img/linkedin.png">
        </a>

        <a class="touch-area" href="https://github.com/TimKuntze" target="_blank">
            <img class="socialMedia" src="assets/img/github.png">
        </a>

        <a class="touch-area" href="https://www.xing.com/profile/Tim_Kuntze" target="_blank">
            <img class="socialMedia" src="assets/img/xing.png">
        </a>

    </div>

    <div class="legal-requirements">

        <div class="link-container">
            <div class="link-1">
                <a class="menue-link" routerLink="/">Contact</a>
            </div>
            <div class="link-1">
                <a class="menue-link home-link" routerLink="/data-protection">Data protection</a>
            </div>
            <div class="link-1">
                <a class="menue-link home-link" routerLink="/imprint">Imprint</a>
            </div>
        </div>
    </div>
    <div class="CR">
        <p>© Tim Kuntze</p>
    </div>



</footer>