<header>
    <img class="logo" routerLink="/" src="assets/img/logo_neu3.png">

    <div id="navbar" class="link-container">
        <div class="link-1">
            <a class="menue-link home-link" href="#home">Home</a>
        </div>
        <div class="link-1">
            <a class="menue-link" href="#aboutme">About me</a>
        </div>
        <div class="link-1">
            <a class="menue-link" href="#portfolio">Portfolio</a>
        </div>
        <div class="link-1">
            <a class="menue-link" routerLink="/contact">Contact</a>
        </div>
    </div>
</header>

<div id="navbar-mobile" class="mobile-menu-container">
    <button id="burgersymbol" class="mobile-only" mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
    menu
    </span></button>
    <mat-menu #menu="matMenu">
        <a href="#home"><button mat-menu-item >Home</button></a>
        <a href="#aboutme"><button mat-menu-item >About me</button></a>
        <a href="#portfolio"><button mat-menu-item >Portfolio</button></a>
        <a routerLink="/contact"><button mat-menu-item >Contact</button></a>
    </mat-menu>
</div>