<div class="slideshow-container">
    <img *ngIf="showImage" class="img-slideshow" src="assets/img/{{ images[currentImage] }}">
</div>

<div class="slideshow-container slideshow-overlay">
    <div class="slideshow-text">
        <p *ngIf="showImage" class="fadeIn">
            {{ headlines[currentImage] }}
        </p>

        <h4>
            <a href="" class="typewrite" data-period="1000" data-type='[ "I am Tim. Welcome to my website!", "I am programming since summer 2020 and always eager to learn more.", "With the help of a young & awesome coding academy", "I managed to have quite a steep learning curve.", "I am not afraid to learn new & challenging things", "So, please contact me for your next project!"]'>
                <span class=""></span>
            </a>
        </h4>
        <!--<div class="typewriter">
            <h4>
                {{ typewriterText[currentImage] }}
            </h4>
        </div>-->>
    </div>

</div>

<div id="arrow" class="arrow-container">
    <a href="#aboutme"><img src="assets/img/arrow-white.png"></a>
</div>