.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    max-width: 900px;
}

.contact {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

mat-card {
    min-width: 300px;
}

.headlines {
    border-bottom: 8px solid rgb(206, 86, 86);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.thin {
    font-weight: 300;
    font-size: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.thick {
    font-weight: 900;
    font-size: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    img {
        width: 180px;
        border: 1px solid rgb(206, 86, 86);
        border-radius: 100%;
        margin-bottom: 24px;
    }
}