<div class="contact">

    <div class="headlines">
        <span class="thick">Contact</span><span class="thin">me</span>
    </div>

    <div class="contact-container">

        <form #form [formGroup]="addressForm" #contactDirective="ngForm" (ngSubmit)="sendMail(addressForm, contactDirective)">
            <mat-card>
                <mat-card-header>

                </mat-card-header>
                <mat-card-content>
                    <div>
                        <div>
                            <mat-form-field>
                                <input required matInput placeholder="Name" formControlName="name" name="name" />
                                <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                                    First name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="example@example.com" formControlName="email" name="email" required/>
                                <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <div>
                            <mat-form-field>
                                <mat-label> Your message</mat-label>
                                <textarea matInput placeholder="Your message" formControlName="message" name="message" required></textarea>
                                <mat-error *ngIf="addressForm.controls['message'].hasError('required')">
                                    A Message is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">
                Submit
              </button>
                </mat-card-actions>
            </mat-card>
        </form>

        <div class="picture">

            <img src="assets/img/cv_picture.jpg"><i>Contact me for your next project, if you have questions or to just say hello ;)</i> - Tim

        </div>

    </div>
</div>