<app-menue></app-menue>
<div class="topBanner">
    <h1>Contact Me</h1>
    <h2>Do you have any questions about my work? Don't be shy and get in touch.</h2>
</div>
<div class="container">
    <div class="title">
        <h2>Contact</h2>
    </div>
    <form action="mailto:timkuntze@gmx.de" method="POST" enctype="text/plain">
        <div class="inputArea">
            <h3>Name</h3>
            <input required minlength="3" type="text" name="name">
            <h3>e-Mail</h3>
            <input type="email" name="mail">
            <h3>your Message</h3>
            <textarea required minlength="10" type="text" name="message"></textarea>
            <div class="container-btn">
                <button class="btn" style="width: auto; height: auto;" type="submit">send Message</button>
            </div>
        </div>
    </form>


</div>


<app-footer></app-footer>