<div id="portfolio">

    <div class="bg2">
        <div class="headlines">
            <span class="thin">My</span><span class="thick">Portfolio</span>
        </div>

        <div class="portfolio">
            <mat-tab-group>
                <mat-tab label="Angular">
                    <div class="single-portfolio">
                        <div class="portfolio-laptop"><img src="assets/img/website.png"> </div>

                        <div class="portfolio-text">
                            <h3>My website</h3>
                            <p>My first Angular project? You're looking at it. This website was build in Angular and was my first touchpoint with TypeScript. It also was the first instance of me using Angular Material. If you have critiques and/or suggestions
                                please let me know. I'm still learning ;)
                            </p>
                            <div class="cta-section">
                                <a href="https://github.com/TimKuntze/website_timkuntze" target="_blank"><button mat-raised-button color="primary">GitHub</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="single-portfolio">
                        <div class="portfolio-laptop"><img src="assets/img/Ringoffire.png"> </div>

                        <div class="portfolio-text">
                            <h3>Drinking game: "Ring of Fire"</h3>
                            <p>This interpretation of the classic (and dangerous) drinking game <i>Ring of Fire</i> was built with Angular and Firebase. The following resources were applied: structural directives, dependency injection, components and bidings.
                                After you started a new game, share the link with a friend for a multiplayer experience.
                            </p>
                            <div class="cta-section">

                                <a href="https://ring-of-fire-e6e27.web.app/" target="_blank"><button mat-raised-button color="primary">Lets have a look!</button></a>
                                <a href="https://github.com/TimKuntze/app_ringoffire" target="_blank"><button mat-raised-button color="primary">GitHub</button></a>

                            </div>
                        </div>
                    </div>


                </mat-tab>
                <mat-tab label="JavaScript">
                    <div class="single-portfolio">
                        <div class="portfolio-laptop"><img src="assets/img/elpolloloco.png"> </div>

                        <div class="portfolio-text">
                            <h3>Jump 'n' Run Game: "El Pollo Loco"</h3>
                            <p>This is a small JavaScript-based one-level Jump 'n' Run game named <i>"El Pollo Loco"</i>. In this game you play the Mexican "Pepe", trying his best to stop a small, but dreadful invasion of crazy chickens ;)
                            </p>
                            <p>Of course nothing to spend a whole night with, but anyways...give it a shot!</p>
                            <div class="cta-section">
                                <a href="http://tim-kuntze.developerakademie.com/app_el-pollo-loco/" target="_blank"><button mat-raised-button color="primary">Lets have a look!</button></a>
                                <a href="https://github.com/TimKuntze/app_elpolloloco" target="_blank"><button mat-raised-button color="primary">GitHub</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-portfolio">
                        <div class="portfolio-laptop"><img src="assets/img/join.png"> </div>

                        <div class="portfolio-text">
                            <h3>Task Management App: "Join"</h3>
                            <p>This was my first group-project within Developer Akademie. It's a JavaScript-based Task Management Tool named <i>"Join"</i>. In this app you can organize tasks by categories and urgencies. I did this project together with 2
                                of my classmates and gained first experiences on working on a code with other fellow programmers via GitHub.
                            </p>

                            <div class="cta-section">
                                <a href="http://tim-kuntze.developerakademie.com/app_join" target="_blank"><button mat-raised-button color="primary">Lets have a look!</button></a>
                                <a href="https://github.com/TimKuntze/grouptask_task-management-app" target="_blank"><button mat-raised-button color="primary">GitHub</button></a>
                            </div>
                        </div>

                    </div>
                    <div class="single-portfolio">

                        <div class="portfolio-laptop"><img src="assets/img/lieferdienst.png"> </div>
                        <div class="portfolio-text">
                            <h3>Delivery Service App: "Marios"</h3>
                            <p>My first a bit more demanding JavaScript project. Now it looks easy, but back then when I was completely new to JavaScript I had quite a bit of a tough time to get a principle understanding of the language. But to cut a long
                                story short this is a small Delivery service app for the fictional restaurant <i>"Marios"</i>. Back then also my first touchpoint with the principals of Arrays.
                            </p>

                            <div class="cta-section">
                                <a href="http://tim-kuntze.developerakademie.com/app_lieferservice/" target="_blank"><button mat-raised-button color="primary">Lets have a look!</button></a>
                                <a href="https://github.com/TimKuntze/app_delivery-service" target="_blank"><button mat-raised-button color="primary">GitHub</button></a>
                            </div>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Other">


                    <div class="single-portfolio">

                        <div class="portfolio-laptop"><img src="assets/img/coming_soon.png"> </div>
                        <div class="portfolio-text">
                            <h3>Coming soon!</h3>


                            <div class="cta-section">

                            </div>
                        </div>

                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>