<div class="imprint">
    <h1>Impressum</h1>

    <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
    <p>Tim Kuntze<br /> Hannemannstr. 77<br /> 12347 Berlin</p>

    <h3>Kontakt</h3>
    <p>Telefon: 0160 8341507<br /> E-Mail: timkuntze@gmx.de</p>

    <h3>Redaktionell Verantwortlicher</h3>
    <p>Tim Kuntze</p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>

    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    <a href='https://www.freepik.com/vectors/background'>Background vector created by brgfx - www.freepik.com</a>

</div>